body {
  color: rgb(219, 219, 219);
  font-size: 24px;
}

button {
  cursor: pointer;
  color: aliceblue;
  margin: 0, 5px;
  min-height: 10px;
  min-width: 10px;
  padding: 4px;
  border: none;
  align-items: flex-end;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 4px;
  opacity: 0.5;
}

button:hover {
  opacity: 0.9;
}

#previous,
#next {
  background-color: #757b80;
  position: absolute;
  top: 50%;
  height: 28px;
  width: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: width 0.9s ease;
}

#next {
  right: 1%;
}

#previous {
  left: 1%;
}

#previous:hover {
  width: 100px;
}

#next:hover {
  width: 80px;
}

#nextSpan,
#previousSpan {
  display: none;
}

#previous:hover span,
#next:hover span {
  display: inline;
}

#buttons {
  position: absolute;
  bottom: 1%;
  left: 45%;
  font-size: 18px;
  opacity: 0.7;
}

#buttons:hover {
  color: #ced3d8;
  opacity: 0.9;
}

.slider {
  overflow: hidden;
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  opacity: 0.9;
}

.slider:hover {
  opacity: 1;
}
#slider-inner {
  display: flex;
  width: 100%;
  height: 300px;
  transition: transform 0.9s ease;
  z-index: -1;
}

#slider-inner img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  padding: 3px;
  background-color: black;
}
